.pcw-widget-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 0;
    overflow: hidden;
}

.pcw-widget-container-fixed {
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 0;
    position: fixed;
    right: 0;
    overflow: hidden;
    z-index: 9999;
}

.pcw-widget-container-fixed-left {
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
    position: fixed;
    left: 0;
    overflow: hidden;
    z-index: 9999;
}

.pcw-full-screen {
    height: 100vh;
    margin: 0;
    max-width: none;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .pcw-widget-container {
        height: 100vh;
        margin: 0;
        max-width: none;
        width: 100%;
    }
}

.pcw-previewer .pcw-message-img {
    cursor: pointer;
}

.pcw-close-widget-container {
    height: max-content;
    width: max-content;
}
