.button {
  background-color: #3e1f70;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 17ch;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  border-radius: 15px; }

.button:hover {
  opacity: 0.8;
  background-color: black;
  color: white; }

.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  cursor: pointer; }

.alternate-content {
  overflow: hidden;
  height: 100%;
  background-color: purple;
  color: white;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 3px solid white; }

.alternate-content img {
  animation: shimmy 3s forwards;
  height: auto;
  padding: 1rem;
  border-radius: 15px;
  border: 3px solid white; }

@keyframes shimmy {
  0% {
    transform: translate(0, 0); }
  20% {
    transform: translate(-10vh, -10vh);
    opacity: 0.8; }
  40% {
    transform: translate(10vh, -20vh);
    opacity: 0.6; }
  60% {
    transform: translate(-10vh, -30vh);
    opacity: 0.4; }
  80% {
    transform: translate(10vh, -40vh);
    opacity: 0.2; }
  100% {
    transform: translate(-10vh, -50vh);
    opacity: 0; } }
